#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  background-image: url('./assets/retona16.png'); /* Directly reference the image */
  background-size: contain; /* Maintain aspect ratio */
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* 85% of the viewport height */
  width: 100vw; /* 85% of the viewport width */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px; /* Adjust as needed */
  border: 2px solid #fff; /* Optional: Add a border for better visibility */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Optional: Add a shadow for better visibility */
  
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
